@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* overflow: hidden; */
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(33deg, #121317, #323B42);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
img.mascot {
    height: 80vh;
    opacity: 0;
}
.appear {
    animation: enter 2s ease forwards 1s;
}
@keyframes enter {
    to {
        opacity: 1;
    }
}
.confirm {
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    box-shadow: 0 0 40px 5px rgba(24, 24, 24, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(224, 224, 224);
    z-index: 100;
    
}
.fade {
    animation: exit ease forwards 2s;
} 
@keyframes exit {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}
.confirm h2 {
    font-size: 3vw;
    white-space: nowrap;
}
.confirm button {
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 2vh 3vw;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    opacity: 0.7;
    transition: 200ms;
    position: relative;
    overflow: hidden;
}
.confirm button::before {
    width: 200%;
    height: 250%;
    content: "";
    position: absolute;
    top: -34%;
    left: -52%;
    background: conic-gradient(#04BCD4, #9C2BB3, #FCEC3C);
    border-radius: 30px;
    animation: spin linear infinite 1s;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    } 
    from {
        transform: rotate(0deg);
    }
}
.confirm button::after {
    content: "Yes";
    position: absolute;
    background-color: rgb(31, 31, 31);
    padding: 1vh 2.7vw;
    border-radius: 30px;
    top: 12%;
    left: 4%;
    cursor: pointer;

}
.confirm button:hover {
    opacity: 1;
}
.rotationDisc {
    animation: rotation infinite linear 10s;
    max-width: 200px;
 }
 .rotationDisc:hover {
     transform: scale(20,20);
 }
 .fast {
    animation: rotation infinite linear 150ms;
    
 }
 @keyframes rotation {
     to {
         transform: rotate(360deg);
     }
     from {
         transform: rotate(0deg);
     }
 }
 /* //mobile css */

@media screen and (max-width: 410px) {
    /* / */
    .confirm{
        width: 80vw;
        text-align: center;
    }
    .confirm h2 {
        font-size: 8vw;
        white-space: normal;
    }
    .rotationDisc {
        animation: rotation infinite linear 10s;
        max-width: 300px;
     }
    .confirm button {
        color: white;
        border: none;
        font-size: 2.5rem;
        padding: 1vh 8vw;
        background-color: rgba(0, 0, 0, 0.37);
        border-radius: 30px;
        opacity: 0.7;
        transition: 200ms;
        position: relative;
        overflow: hidden;
    }
    .confirm button::after {
        content: "Yes";
    position: absolute;
    background-color: rgb(31, 31, 31);
    padding: 0.7vh 6.7vw;
    border-radius: 30px;
    top: 3%;
    left: 4%;
    cursor: pointer;
    
    }
    img.mascot {
        height: 60vh;
        opacity: 0;
    }
}